@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dotted rgb(255, 0, 0); */
}

header {
    position: relative;
    background-color: #fff;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    z-index: 4;
}

.navegacao-head nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 3rem;
}

.navegacao-head nav ul li {
    cursor: pointer;
}

.botao {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10rem;
    height: 3.5rem;
    margin: 2rem 0 2rem 0;
    background: linear-gradient(to right, #33D35E 0%, #2AB6D9 70%);
    color: #fff;
    border-radius: 2rem;
    cursor: pointer;
}

body {
    width: 100vw;
    height: auto;
    font-family: Public Sans;
    background-color: #f2f2f2;
    color: #333;
    overflow-x: hidden;
}

.parte-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 80vh;
    background-color: #f2f2f2;
}

.titulo-1 {
    width: 40vw;
    height: 40vh;
    margin: 8rem;
}

.titulo-1 h1 {
    font-size: 3rem;
    color: #333;
}

.titulo-1 p {
    margin: 2rem 0 0 0;
    font-size: 1rem;
    color: #333;
}

.botao p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

.bloco-direito {
    width: 50%;
}

.foto-bg {
    position: absolute;
    width: 40rem;
    height: 40rem;
    object-fit: contain;
    margin: -32rem 0 0rem -4rem;
    padding: 0;
    z-index: 1;
}

.foto img{
    width: 40rem;
    height: 40rem;
    margin: -20% 0% 0% 7%;
    position: absolute;
    object-fit: contain;
    z-index: 2;
}

.parte-2 {
    background-color: #ebebeb;
}

.titulo-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50rem;
    margin: 2rem;
    padding: 5rem;
}

.titulo-2 h2 {
    font-size: 2rem;
    color: #333;
}

.titulo-2 p {
    margin: 2rem 0 -2rem 0;
    font-size: 1rem;
    color: #333;
}

.carosel-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
    height: auto;
}

.car-1, .car-2, .car-3, .car-4 {
    padding: 2rem;
    margin: 0 2rem 0 2rem;
}

.car-1 svg, .car-2 svg, .car-3 svg, .car-4 svg {
    margin: 0 0 2rem 0;
    object-fit: contain;
}

.parte-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin: 0 0 5rem 0;
}

.titulo-3 h2{
    display: flex;
    width: 80vw;
    margin: 3rem auto 3rem auto;
    padding: 0;
}

.carosel-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    width: 80vw;
    max-width: 1220px;
    margin: 0 auto 0 auto;
    height: auto;
    box-sizing: border-box;
}

.carosel-2 h3, .carosel-2 p {
    padding: 0 1rem 0 1rem;
}

.car-2-1, .car-2-2, .car-2-3, .car-2-4 {
    padding: 0;
    border-radius: 1rem;
    margin: 0 1rem 0 1rem;
    background-color: #fff;
}

.car-2-1 img, .car-2-2 img, .car-2-3 img, .car-2-4 img {
    width: 100%;
    height: 8rem;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
}

.car-2-1 h3, .car-2-2 h3, .car-2-3 h3, .car-2-4 h3 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0.5rem;
}

.car-2-1 p, .car-2-2 p, .car-2-3 p, .car-2-4 p {
    font-size: 0.8rem;
    margin: 0.3rem 1rem 0.3rem 1rem;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: #2D314E;
    color: #fff;
}

footer nav ul {
    margin: 0 1rem 0 1rem;
    list-style: none;
}

footer nav ul li {
    color: #ffffff79;
    cursor: pointer;
}

footer p {
    color: #ffffff79;
}

.atribuicao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.base-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 1rem 0;

}

.topo-esquerdo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 1rem 0;
}

.baixo-esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.baixo-esquerda svg {
    margin: 0 0.3rem 0 0.3rem;
}